body {
    
    font-family: "Dosis", sans-serif;
    text-align: center;
    margin: 0;
}

#main {
    width: 626px;
    color: #828282;
    margin: 16px auto 0px;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    color: #3F3D56;
}

strong {
    color: #EE24FF;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 12px auto 32px;
    width: 540px;
}

#links a {
margin: 0px 0px 0px;
width: 1024px;
height: 104px;
color: #3F3D56;
font-weight: bold;
}

#line {
    width: 560px;
    height: 0px;
    margin: 50px auto 8px;
    border: 1px solid #ECEFF2;
}